<footer
class="mt-24 flex flex-col p-8 items-center justify-between gap-4 border-t border-white/5 pt-8 text-center text-[11px] font-light tracking-wider text-white/30 lg:flex-row lg:text-left"
>
<p>© 2026 Estudio MRE. Todos los derechos reservados.</p>
<div class="flex gap-6">
    <a href="#" class="transition hover:text-accent-elegant">Términos de Servicio</a>
    <a href="#" class="transition hover:text-accent-elegant">Política de Privacidad</a>
</div>
</footer>